In [1]:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

In [15]:
# Configuration
database_url = "mysql://root:1234@localhost/clinic"
table_sizes = {'Patients': 1000, 'Appointments': 2000, 'Messages': 3000, 'Services': 500, 'Treatment_Records': 2000, 'Visits': 2000}

In [3]:
# Create database connection
engine = create_engine(database_url)

In [4]:
# Initialize Faker
fake = Faker()

In [17]:
# Generate data for Patients
patients_data = {
    'Patient_ID': range(1, table_sizes['Patients'] + 1),
    'Name': [fake.name() for _ in range(table_sizes['Patients'])],
    'DOB': [fake.date_of_birth(minimum_age=0, maximum_age=100) for _ in range(table_sizes['Patients'])],
    'Address': [fake.address() for _ in range(table_sizes['Patients'])],
    'Email': [fake.email() for _ in range(table_sizes['Patients'])]
}

In [19]:
# Generate data for Appointments
appointments_data = {
    'Appointment_ID': range(1, table_sizes['Appointments'] + 1),
    'Patient_ID': [random.randint(1, table_sizes['Patients']) for _ in range(table_sizes['Appointments'])],
    'Date': [fake.date_this_year() for _ in range(table_sizes['Appointments'])],
    'Time': [fake.time() for _ in range(table_sizes['Appointments'])],
    'Purpose': [fake.sentence() for _ in range(table_sizes['Appointments'])]
}

In [22]:
# Generate data for Messages linked to Appointments
messages_data = {
    'Message_ID': range(1, table_sizes['Messages'] + 1),
    'Appointment_ID': [random.randint(1, table_sizes['Appointments']) for _ in range(table_sizes['Messages'])],
    'Date': [fake.date_this_year() for _ in range(table_sizes['Messages'])],
    'Type': [random.choice(['SMS', 'Email', 'Notification']) for _ in range(table_sizes['Messages'])],
    'Content': [fake.paragraph() for _ in range(table_sizes['Messages'])]
}

In [23]:
# Generate data for Services
services_data = {
    'Service_ID': range(1, table_sizes['Services'] + 1),
    'Name': [fake.bs() for _ in range(table_sizes['Services'])],
    'Description': [fake.catch_phrase() for _ in range(table_sizes['Services'])]
}

In [24]:
# Generate data for Treatment_Records
treatment_records_data = {
    'Record_ID': range(1, table_sizes['Treatment_Records'] + 1),
    'Description': [fake.paragraph() for _ in range(table_sizes['Treatment_Records'])]
}

In [25]:
# Generate data for Visits
visits_data = {
    'Visit_ID': range(1, table_sizes['Visits'] + 1),
    'Date': [fake.date_this_year() for _ in range(table_sizes['Visits'])],
    'Time': [fake.time() for _ in range(table_sizes['Visits'])]
}

In [26]:
# Generate data for Visit_Treatment
visit_treatment_data = {
    'Visit_ID': [random.randint(1, table_sizes['Visits']) for _ in range(table_sizes['Visits'])],
    'Record_ID': [random.randint(1, table_sizes['Treatment_Records']) for _ in range(table_sizes['Visits'])],
    'Service_ID': [random.randint(1, table_sizes['Services']) for _ in range(table_sizes['Visits'])]
}

In [27]:
# Generate data for Patient_Visits
patient_visits_data = {
    'Patient_ID': [random.randint(1, table_sizes['Patients']) for _ in range(table_sizes['Visits'])],
    'Visit_ID': [i for i in range(1, table_sizes['Visits'] + 1)]
}

In [28]:
# Generate data for Contact_Numbers
contact_numbers_data = {
    'Patient_ID': [random.randint(1, table_sizes['Patients']) for _ in range(table_sizes['Patients'])],
    'Contact_number': [fake.phone_number() for _ in range(table_sizes['Patients'])]
}

In [18]:
#sensitive

#df_patients = pd.DataFrame(patients_data)
#df_patients.to_sql('Patients', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\3769013509.py:2: UserWarning: The provided table name 'Patients' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_patients.to_sql('Patients', con=engine, if_exists='append', index=False)

1000

In [29]:
# senitove 

#df_appointments = pd.DataFrame(appointments_data)
#df_appointments.to_sql('Appointments', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\880559555.py:4: UserWarning: The provided table name 'Appointments' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_appointments.to_sql('Appointments', con=engine, if_exists='append', index=False)

2000

In [31]:
# sensitive 

#df_messages = pd.DataFrame(messages_data)
#df_messages.to_sql('Messages', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\989393793.py:4: UserWarning: The provided table name 'Messages' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_messages.to_sql('Messages', con=engine, if_exists='append', index=False)

3000

In [32]:
# sensitive 

#df_services = pd.DataFrame(services_data)
#df_services.to_sql('Services', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\2372001682.py:2: UserWarning: The provided table name 'Services' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_services.to_sql('Services', con=engine, if_exists='append', index=False)

500

In [33]:
# sensitive 


#df_treatment_records = pd.DataFrame(treatment_records_data)
#df_treatment_records.to_sql('Treatment_Records', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\1127642772.py:2: UserWarning: The provided table name 'Treatment_Records' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_treatment_records.to_sql('Treatment_Records', con=engine, if_exists='append', index=False)

2000

In [34]:
# sensitive 

#df_visits = pd.DataFrame(visits_data)
#df_visits.to_sql('Visits', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\3991210141.py:2: UserWarning: The provided table name 'Visits' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_visits.to_sql('Visits', con=engine, if_exists='append', index=False)

2000

In [35]:
# sensitive 

#df_visit_treatment = pd.DataFrame(visit_treatment_data)
#df_visit_treatment.to_sql('Visit_Treatment', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\177886560.py:2: UserWarning: The provided table name 'Visit_Treatment' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_visit_treatment.to_sql('Visit_Treatment', con=engine, if_exists='append', index=False)

2000

In [36]:
# sensitive 

#df_patient_visits = pd.DataFrame(patient_visits_data)
#df_patient_visits.to_sql('Patient_Visits', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\92379673.py:2: UserWarning: The provided table name 'Patient_Visits' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_patient_visits.to_sql('Patient_Visits', con=engine, if_exists='append', index=False)

2000

In [38]:
#sensitive

#df_contact_numbers = pd.DataFrame(contact_numbers_data)
#df_contact_numbers.to_sql('Contact_Numbers', con=engine, if_exists='append', index=False)

C:\Users\mrabd\AppData\Local\Temp\ipykernel_12472\3591919196.py:2: UserWarning: The provided table name 'Contact_Numbers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_contact_numbers.to_sql('Contact_Numbers', con=engine, if_exists='append', index=False)

1000